@charset "utf-8";

/*--------------------
	初期値
---------------------*/

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #333;
	font-size: 1.6rem;
	line-height: 2;
	font-feature-settings: "palt"1;
}

@media screen and (max-width: 768px) {
    body {
        text-size-adjust: 100%;
    }
}

a {
	text-decoration: none;
	letter-spacing: .15em;
	font-weight: bold;
}

a:link {
	color: #422;
}

a:visited {
	color: #333;
}

:hover {
	transition: .4s ease-in;
}

a:hover,
a:active {
	color: #933;
}

em {
	font-style: normal;
}

ol,
ul {
	list-style-type: none;
	padding-left: 0px;
}

/*--------------------
	グローバル
---------------------*/

.container {
	max-width: 1100px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		width: 94%;
	}
}

.gl-header {
	height: 82px;
	background-color: #343a40;
	padding-top: 30px;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.gl-header {
		height: 100px;
	}
}

.logo {
	float: left;
}

@media screen and (max-width: 768px) {
	.logo {
		float: none;
		width: 154px;
		margin: auto;
	}
}

.logo a {
	display: block;
	width: 154px;
	height: 25px;
	background: url("../images/logo.jpg") 0 0 no-repeat;
	text-indent: -9999px;
}

.logo a:hover {
	opacity: .5;
}

.gl-nav ul {
	overflow: hidden;
	padding: 5px 0 0 42px;
}

@media screen and (max-width: 768px) {
	.gl-nav ul {
		display: flex;
		justify-content: center;
		margin: 10px 0 0 -20px;
	}
}

.gl-nav li {
	float: left;
	margin-right: 12px;
	line-height: 1;
}

.gl-nav li a {
	color: #d4d3d3;
}

.gl-nav li a:hover {
	color: #e85000;
}

.gl-footer {
	height: 176px;
	padding-top: 50px;
	background-color: #343a40;
}

@media screen and (max-width: 768px) {
	.gl-footer {
		height: auto;
		padding-bottom: 50px;
	}
}

.gl-footer small {
	line-height: 2;
	color: #6c757d;
}

.gl-footer small a {
	color: #e85000;
}

.gl-footer small a:hover {
	opacity: .5;
}

/*--------------------
	トップ
---------------------*/

.top-hero {
	height: 400px;
	background: #343a40 url("../images/mainimg.jpg") center 0 no-repeat;
	text-indent: -9999px;
}

@media screen and (max-width: 768px) {
	.top-hero {
		background: url("../images/main_sp.jpg") center top / cover no-repeat;
		height: 150vw;
	}
}

.top-main {
	padding-top: 40px;
}

.top-topics {
	margin-bottom: 60px;
}

.top-topics ul {
	overflow: hidden;
}

.top-topics li {
	float: left;
	margin-right: 25px;
	width: 350px;
}

@media screen and (max-width: 768px) {
	.top-topics li {
		width: 100%;
		margin-bottom: 50px;
	}
}

.top-topics li:last-child {
	margin-right: 0;
}

.top-topics li img {
	display: block;
	width: 210px;
	margin: 0 auto 10px;
}

@media screen and (max-width: 768px) {
	.top-topics li img {
		width: 80%;
	}
}

.top-topics li h2 {
	color: #e85000;
	font-size: 3.2rem;
	letter-spacing: -0.02em;
	margin-bottom: 20px;
}

.top-topics li p {
	line-height: 1.5;
	margin-bottom: 24px;
	text-align: justify;
}

.top-topics li .btn {
	display: flex;
}

.top-topics li .btn a {
	display: block;
	width: 60px;
	height: 40px;
	margin-right: 8px;
	padding-top: 10px;
	border-radius: 3px;
	line-height: 1.2;
	text-align: center;
	color: #fff;
	background-color: #e85000;
}

.top-topics li .btn a:hover {
	opacity: .5;
}

.top-topics li .btn a:nth-of-type(2) {
	background-color: #ffc108;
	color: #000;
}

.top-banner ul {
	display: flex;
	margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
	.top-banner ul {
		display: block;
	}
}

.top-banner li {
	width: 255px;
	height: 133px;
	margin-right: 27px;
}

@media screen and (max-width: 768px) {
	.top-banner li,
	.top-banner li img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}

.top-banner li:last-child {
	margin-right: 0;
}

.top-banner li a img:hover {
	opacity: .5;
}