@charset "UTF-8";
@import "modules";

// 定義
$keyC: #dd6600;
$subC: darken($keyC, 25%);
$backC: lighten($keyC, 50%);



// 大見出し

.item-list {
  width: 670px;
  margin: 0 auto;

  &__heading {
    @include ribbon($keyC);
  }

  // 商品一覧


  &__items {
    overflow: hidden;
    padding: 0;
    width: 610px;
    margin: auto;
  }

  &__item {
    width: 170px;
    float: left;
    margin: 0 50px 20px 0;
    list-style-type: none;


    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &-img {
      padding: 4px;
      border: 1px solid $subC;
    }

    &-link {
      color: $subC;
      text-decoration: none;

      &:hover {
        color: $keyC;
      }
    }

    &-name {
      margin: 5px 0;
      @include base_font(113%);
      font-weight: bold;

      &--eng {
        margin: 0;
        @include base_font(75%, $keyC);
        border-top: 1px dotted $subC;
      }
    }

    &-text {
      @include base_font(88%);
    }
  }
}
