@charset "utf-8";

// 定義
$primary: #007bff;

@import 'login';

@mixin colorStyle($bgc:#fff, $bdr:$primary) {
  background-color: $bgc;
  border: 1px solid $bdr;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.login {
  width: 420px;
  padding: 20px;
  margin: auto;
  text-align: center;
  @include colorStyle(#fff, #ccc);
  border-radius: 0.25rem;

  &-logo {
    &__img {
      width: 150px;
      height: 172px;
      margin-bottom: 8px;
    }

    &__title {
      margin-bottom: 24px;
      font-size: 28px;
      font-weight: normal;
    }
  }
  &-form {
    &__email,
    &__pass {
        @include login_input;
    }
    &__label {
        @include login_label;
    }
    &__submit {
        @include login_submit($primary);
    }
  }
  &-credit {
    margin: 48px 0 16px;
    color: #6c757d;
    text-align: center;
  }
}
