@charset "utf-8";

/*-------------------------
	初期値
-------------------------*/

html{
	font-size: 62.5%;
}

body {
	font-family: "HelveticaNeue","Arial,Hiragino,Kaku Gothic ProN","Hiragino Sans","Meiryo,sans-serif";
	color: #333;
	font-size: 1.6em;
	line-height: 2;
	font-feature-settings: "palt";
}
main h2 {
}

/*-------------------------
	記事
-------------------------*/

.h1 main {
	width: 580px;
	margin: auto;
}

.h2 {
	margin-top: 50px;
	padding-left: 20px;
	border-left: 5px solid #666;
}
